@page "/catalog"
@page "/catalog/{id:int}"
@* @inherits CatalogDetails *@


@if (Id == null)
{
    <PageTitle>Create a new catalog</PageTitle>
    <h3>Create a new catalog</h3>
}
else
{
    <PageTitle>Edit @Catalog.Name</PageTitle>
    <h3>Edit @Catalog.Name</h3>
}

@if (Catalog == null && ErrorMessage == null)
{
    <h3>Loading product details...</h3>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage" />
}
else
{

    <EditForm Model="Catalog" OnSubmit="HandleSubmit">
        <div>
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="Catalog.Name" class="form-control"></InputText>
        </div>
        <div>
            <label for="description">Description</label>
            <InputText id="description" @bind-Value="Catalog.Description" class="form-control"></InputText>
        </div>
        <div>
            <label for="price">Price</label>
            <InputNumber id="price" @bind-Value="Catalog.Price" class="form-control"></InputNumber>
        </div>
        <div>
            <label for="stockQuantity">Stock Quantity</label>
            <InputNumber id="stockQuantity" @bind-Value="Catalog.StockQuantity" class="form-control"></InputNumber>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">@BtnText</button>
            @if (Catalog.Id != 0)
            {
                <button type="button" class="btn btn-danger" @onclick="DeleteCatalog">Delete</button>
            }
        </div>
    </EditForm>
}
